<footer class="flex flex-row justify-between flex-wrap bg-indigo-900 py-8 px-4 text-white text-sm">
    <div>
        <a href="/" class="font-bold">BezierBot Gallery</a>
        <p>An automated processed photo collection</p>
        <p>Copyright © 2019 Jeremy Atkinson</p>
    </div>
    <nav>
        <ul class="font-bold text-gray-100">
            <li><a class="hover:underline" href="/">Home</a></li>
            <li><a class="hover:underline" href="https://twitter.com/bezierbot">Twitter</a></li>
            <li><a class="hover:underline" href="/about">About</a></li>
        </ul>
    </nav>
</footer>