<!--header.html-->
  <head>
    <!--Use the `title` variable to set the title of the page-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <meta name="description" content="A gallery of photos processed by BezierBot">

    <!--Use tailwind to make the application look nice-->
    <link href="\css\tailwind.min.css" rel="stylesheet">
  </head>    